@(reviews: List[models.Review])

@main("Review") {

<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
</head>

<section class="jumbotronOtherResorts"><!--Image-->
			<div class="container">
				<div class="row text-center">
					<h2>Bali</h2>
					<a href="/addReview"><button type="button" class="btn btn-warning">Add Review</button></a>
				</div>
			</div>
		</section>

<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Review</th>
    </tr>
  </thead>

  <tbody>

    @for(p <- reviews){
      
      <tr>
          <td class="numeric">@p.getID</td>
          <td>@p.getName</td>
          <td>@p.getReview</td>
      </tr>
      }



  </tbody>
</table>
</html>
}
