@(message: String)

@main("Beaches.ie") {

<!DOCTYPE html>
<html>
<head>
  <title>Irish Beaches Page</title>
</head>
		<section class="jumbotronIrishBeaches"><!--Image-->
			<div class="container">
				<div class="row text-center">
					<h2>Irish Beaches</h2>
					<a href="Gallery.html"><button type="button" class="btn btn-warning">Gallery</button></a>
				</div>
			</div>
		</section>
		
		<p>Whitepark Bay, Ballintoy, Co. Antrim</p>
		
		<div class="row"><!--Main Part-->
			<div class="col-md-4">
				<img src="http://bit.ly/2eifgXC" class="img-rounded" alt="Cinque Terre" width="350" height="250"/><!--Source eumom.ie-->
				<h1>Inchydoney, Clonakilty, Co Cork</h1>
				<a href="/inchydoney"><button type="button" class="btn btn-warning">Reviews</button></a>
			</div>
			<div class="col-md-4">
				<img src="http://bit.ly/2f8fMGt" class="img-rounded" alt="Cinque Terre" width="350" height="250"/><!--Source eumom.ie-->
				<h1>Derrynane, Caherdaniel, Co Kerry</h1>
				<a href="/derrynane"><button type="button" class="btn btn-warning">Reviews</button></a>
			</div>
			<div class="col-md-4">
			<img src="http://bit.ly/2fzRCaR" class="img-rounded" alt="Cinque Terre" width="350" height="250"/><!--Source eumom.ie-->
			<h1>Curracloe, Co Wexford</h1>
			<a href="/curracloe"><button type="button" class="btn btn-warning">Reviews</button></a>
			</div>
		</div>
		<div class="row"><!--Main Part-->
			<div class="col-md-4">
				<img src="http://bit.ly/2f8fr6E" class="img-rounded" alt="Cinque Terre" width="350" height="250"/><!--Source eumom.ie-->
				<h1>Inch, Dingle, Co Kerry</h1>
				<a href="/inch"><button type="button" class="btn btn-warning">Reviews</button></a>
			</div>
			<div class="col-md-4">
				<img src="http://bit.ly/2fcNSrE" class="img-rounded" alt="Cinque Terre" width="350" height="250"/><!--Source eumom.ie-->
				<h1>Banna Strand, Co Kerry</h1>
				<a href="/bannastrand"><button type="button" class="btn btn-warning">Reviews</button></a>
			</div>
			<div class="col-md-4">
				<img src="http://bit.ly/2f8xSsg" class="img-rounded" alt="Cinque Terre" width="350" height="250"/><!--Source eumom.ie-->
				<h1>Kilmurvey, Inishmore, Co Galway</h1>
				<a href="/kilmurvey"><button type="button" class="btn btn-warning">Reviews</button></a>
			</div>
		</div>
		<div class="row"><!--Main Part-->
			<div class="col-md-4">
				<img src="http://bit.ly/2eWXoPY" class="img-rounded" alt="Cinque Terre" width="350" height="250"/><!--Source independent.ie-->
				<h1>Fanore, Co Clare</h1>
				<a href="/fanore"><button type="button" class="btn btn-warning">Reviews</button></a>
			</div>
			<div class="col-md-4">
				<img src="http://bit.ly/2dXZXEQ" class="img-rounded" alt="Cinque Terre" width="350" height="250"/><!--Source independent.ie-->
				<h1>Trá Bán, Great Blasket, Co Kerry</h1>
				<a href="/traban"><button type="button" class="btn btn-warning">Reviews</button></a>
			</div>
			<div class="col-md-4">
				<img src="http://bit.ly/2fcOLAq" class="img-rounded" alt="Cinque Terre" width="350" height="250"/><!--Source independent.ie-->
				<h1>Dog's Bay and Gurteen Bay, Connemara</h1>
				<a href="/dogsbay"><button type="button" class="btn btn-warning">Reviews</button></a>
			</div>
		<div class="row"><!--Main Part-->
			<div class="col-md-4">
				<img src="http://bit.ly/2f8vJwy" class="img-rounded" alt="Cinque Terre" width="350" height="250"/><!--Source skyscanner.ie-->
				<h1>Keem Bay, Achill Island, Co Mayo</h1>
				<a href="/keembay"><button type="button" class="btn btn-warning">Reviews</button></a>
			</div>
			<div class="col-md-4">
				<img src="http://bit.ly/2eWWxii" class="img-rounded" alt="Cinque Terre" width="350" height="250"/><!--Source skyscanner.ie-->
				<h1>Coumeenole Beach, Dunquin, Co Kerry</h1>
				<a href="/coumeenole"><button type="button" class="btn btn-warning">Reviews</button></a>
			</div>
			<div class="col-md-4">
				<img src="http://bit.ly/2ev6djy" class="img-rounded" alt="Cinque Terre" width="350" height="250"/><!--Source skyscanner.ie-->
				<h1>Skerries, Dublin</h1>
				<a href="/skerries"><button type="button" class="btn btn-warning">Reviews</button></a>
			</div>
		</div>
</html>
}
