@(message: String)

@main("Beaches.ie") {

<section class="jumbotronOtherResorts"><!--Image-->
			<div class="container">
				<div class="row text-center">
					<h2>Other Resorts</h2>
					<a href="Gallery.html"><button type="button" class="btn btn-warning">Gallery</button></a>
				</div>
			</div>
		</section>
		<p>British Virgin Islands</p>
		
		<div class="row"><!--Main Part-->
			<div class="col-md-4">
				<img src="http://bit.ly/2ffY96J" class="img-rounded" alt="Cinque Terre" width="350" height="250"/><!--Source cntraveller.com-->
				<h1>Sharm El Sheikh, Egypt</h1>
				<a href="/sharmelsheikh"><button type="button" class="btn btn-warning">Reviews</button></a>
			</div>
			<div class="col-md-4">
				<img src="http://bit.ly/2fwDT3x" class="img-rounded" alt="Cinque Terre" width="350" height="250"/><!--Source cntraveller.com-->
				<h1>Cancun, Mexico</h1>
				<a href="/cancun"><button type="button" class="btn btn-warning">Reviews</button></a>
			</div>
			<div class="col-md-4">
			<img src="http://bit.ly/2ffZVF2" class="img-rounded" alt="Cinque Terre" width="350" height="250"/><!--Source cntraveller.com-->
			<h1>Barbados, Carribean</h1>
			<a href="/barbados"><button type="button" class="btn btn-warning">Reviews</button></a>
			</div>
		</div>
		<div class="row"><!--Main Part-->
			<div class="col-md-4">
				<img src="http://bit.ly/2fYcRR9" class="img-rounded" alt="Cinque Terre" width="350" height="250"/><!--Source cntraveller.com-->
				<h1>Maldives</h1>
				<a href="/maldives"><button type="button" class="btn btn-warning">Reviews</button></a>
			</div>
			<div class="col-md-4">
				<img src="http://bit.ly/2eZI0Bd" class="img-rounded" alt="Cinque Terre" width="350" height="250"/><!--Source cntraveller.com-->
				<h1>Dominican Republic, Carribean</h1>
				<a href="/dominican"><button type="button" class="btn btn-warning">Reviews</button></a>
			</div>
			<div class="col-md-4">
				<img src="http://bit.ly/2fVwK9W" class="img-rounded" alt="Cinque Terre" width="350" height="250"/><!--Source cntraveller.com-->
				<h1>Bali, Indonesia</h1>
				<a href="/bali"><button type="button" class="btn btn-warning">Reviews</button></a>
			</div>
		</div>
		<div class="row"><!--Main Part-->
			<div class="col-md-4">
				<img src="http://bit.ly/2f3Om5Q" class="img-rounded" alt="Cinque Terre" width="350" height="250"/><!--Source cntraveller.com-->
				<h1>Polynesia</h1>
				<a href="/polynesia"><button type="button" class="btn btn-warning">Reviews</button></a>
			</div>
			<div class="col-md-4">
				<img src="http://bit.ly/2fg5va5" class="img-rounded" alt="Cinque Terre" width="350" height="250"/><!--Source cntraveller.com-->
				<h1>Bora Bora, French Polynesia</h1>
				<a href="/borabora"><button type="button" class="btn btn-warning">Reviews</button></a>
			</div>
			<div class="col-md-4">
				<img src="http://bit.ly/2fEW4BZ" class="img-rounded" alt="Cinque Terre" width="350" height="250"/><!--Source cntraveller.com-->
				<h1>Porquerolles, France</h1>
				<a href="/porquerolles"><button type="button" class="btn btn-warning">Reviews</button></a>
			</div>
		<div class="row"><!--Main Part-->
			<div class="col-md-4">
				<img src="http://bit.ly/2eZBRoR" class="img-rounded" alt="Cinque Terre" width="350" height="250"/><!--Source cntraveller.com-->
				<h1>Greece</h1>
				<a href="/greece"><button type="button" class="btn btn-warning">Reviews</button></a>
			</div>
			<div class="col-md-4">
				<img src="http://bit.ly/2eZGY8o" class="img-rounded" alt="Cinque Terre" width="350" height="250"/><!--Source cntraveller.com-->
				<h1>Dalmatia, Croatia</h1>
				<a href="/dalmatia"><button type="button" class="btn btn-warning">Reviews</button></a>
			</div>
			<div class="col-md-4">
				<img src="http://bit.ly/2ffYMgD" class="img-rounded" alt="Cinque Terre" width="350" height="250"/><!--Source cntraveller.com-->
				<h1>Mallorca, Spain</h1>
				<a href="/mallorca"><button type="button" class="btn btn-warning">Reviews</button></a>
			</div>
		</div>
	
}
